@use'../mixins';
@use'../variables';

header{
    padding-top: 78px;
    padding-bottom: 55px;
    .hero{
        padding-top: 30px;
       @include mixins.flexBox(center, space-between);
       &__title{
        max-width: 550.52px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        color: variables.$title-color;
       }
       &__decoration{
        &-text{
            padding: 30px 0 45px 0;
            max-width: 486.75px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: variables.$text-color;
        }
        &-btns{
            list-style: none;
            display: flex;
            align-items: center;
            column-gap: 44px;
            &--itemf{
            @include mixins.btn(174px, variables.$style-color, 15px 40px, none, variables.$main-color)
            }
            &--items{
                font-family: 'Poppins';
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-decoration-line: underline;
                color: variables.$style-color;
                display: flex;
                align-items: center;
                column-gap: 9px;
                border: none;
                background-color: rgba(255, 255, 255, 0);
                cursor: pointer;
                .items__shape{
                    width: 0;
                    height: 0;
                    border-top: 9px solid transparent;
                    border-left: 17px solid #FF9900;
                    border-bottom: 9px solid transparent;
                    border-radius: 2px;
                }
            }
            &--items:hover{
                color:#FF7549;
            }
            &--items:hover .items__shape{
                border-left: 17px solid #FF7549;
            }
        }
       }
    }
}