@use'../variables';
@use'../mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1197px;
    margin: 0 auto;
    padding: 15px;
}

body{
    font-family: 'Open Sans';
    color: variables.$text-color;
}
nav{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background-color: variables.$main-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
    .navbar{
        @include mixins.flexBox(center ,space-between);
        &__menu{
            list-style: none;
            @include mixins.flexBox(center, space-between);
            min-width: 25%;
            text-transform: capitalize;
            &-list{
                &--link{
                    padding: 24px 0 26px 0;
                    text-decoration: none;
                    font-family: 'Open Sans';
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 28px;
                    color: variables.$text-color;
                }
                &--link:hover{
                    color: variables.$style-color
                }
            }
        }
        &__btns{
            @include mixins.flexBox(center, space-between);
            min-width: 16%;
            list-style: none;
            &-item{
                transition: 0.2s;
            @include mixins.btn(104px, variables.$main-color, 11px 15px 13px, 1px solid #BCD0E5, #173A56);
            }
            &-itemS{
            @include mixins.btn(104px, variables.$style-color, 11px 15px 13px, none, variables.$main-color);
            }
            &-item:hover{
                background-color: #BCD0E5;
            }
        }
    }
}
